<!DOCTYPE html>
<html lang="en-ru">
{% extends 'flatpages/default.html' %}
{% block content %}
    <body>
        <img src="/static/css/img-4.jpg" alt="фото"  class="round">
        <div class=container4>
        <p><font class="text" >
            Всем привет, меня зовут Андрей. Я люблю путешествовать, знакомиться с интересными людьми,
            исследовать новые города. Могу часами бродить по тихим улочкам, слушая музыку в наушниках, с
            перерывами на обед в уютных кафе. Люблю спонтанные встречи с друзьями, будь то пикник или
            посиделки на кухне за настольными играми, разговоры до утра. Люблю жить настоящим, не оглядываясь
            назад и не строя планы на будущее. Вы не услышите от меня кем я вижу себя через 5 лет, я просто
            напросто не знаю этого , но меня точно занесет в новую точку на карте, и я буду чуть лучше
            программировать чем сегодня).
            </font>
        </div>
    </body>
{% endblock content %}
</html>