<!DOCTYPE html>
<html lang="en">
{% extends 'flatpages/default.html' %}
{% block content %}
    <head>
    </head>
    <body>

            <img src="/static/css/img-5.png" alt="фото"  class="round">
                <div class=container4>
                <p><font class="text" >
                Хочешь бота? Спроси меня как! - так мог бы звучать мой девиз с тех пор, как я увлекся программированием.
                    Настолько увлекся, что умудряюсь заниматься им даже во время основной работы, иногда делая вид, что
                    слушаю своих коллег, и даже отвечаю на их вопросы. Хотя нет, созданный мною бот, общается с ними
                    чаще) Не могу припомнить, чтоб какое-то хобби так увлекало меня, и я погружался в процесс мозгового
                    штурма даже во сне) Честное слово, я как тот Менделеев, только вместо таблиц мне снятся алгоритмы.
                    Так что эта любовь всерьез и надолго)

        </font>
            </div>
    </body>
{% endblock content %}
</html>