<!DOCTYPE html>

<html lang="en">
{% load static %}
    <link href="{% static 'css/styles.css' %}" rel="stylesheet" />
    <div class="topnav">
        <font size="10" color="red" face="Brush Script MT">Андрей Перевязко</font>
        <a href=/home/><font size="7"  face="Brush Script MT">Мое хобби</font></a>
        <a href="/home/contacts/"><font size="7"  face="Brush Script MT">Контакты</font></a>
        <a href="/home/about_me/"><font size="7"  face="Brush Script MT">Обо мне</font></a>
    </div>
    <head>
        <h1>

        </h1>
    </head>
    <body>

        {% block content %}
        {{ flatpage.content }}
        {% endblock content %}

    </body>
</html>